@import '../setup/vars';

.contact-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-content: start;
    padding: 0 .6rem;
    background-color: $clr-base1;

    li {
        display: flex;
        flex-direction: column;
        align-self: start;
        justify-content: space-around;
        margin: 0.5em;
        background-color: $clr-base2;

        &:hover {
            background-color: darken($clr-base2, 5%);
        }
    }

    .contact-item {
        position: relative;

        .tools {
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding-block: 1rem;
        }

        .tools>button {
            position: absolute;
            top: 5px;
            left: 5px;
        }
    }
}